@import '../../variables';

.DetailsTable {

    margin: 1em auto;

    table {
        max-width: 45em;
        margin: 0 auto;

        td {
            vertical-align: middle;
            text-align: center;
            padding: 1em;
        }
        .count {
            margin-left: 0.5em;
            display: inline-block;
            color: map-get($theme-colors, secondary);
        }
    }
}
