@import '../../variables';

.ReportHeader {

    padding: 0.5em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    


    .rh-left {
        button {
            margin-right: 1em;
            &:last-child {
                margin-right: 0;
            }
        }
    }

    .rh-middle {
        text-align: center;

        button {
            margin: 0 0.15em;
            padding: 0.25em;
            svg {
                height: 1.2em;
                width: 1.2em; 
                .svg-icon-refresh {
                    fill: map-get($theme-colors, secondary);
                }
            }
        }
    }
    .rh-right {
        text-align: right;
    }


}
