@import '../../../variables';

.Login {
    text-align: center;

    &>div {
        margin: 1em 0;
    }

    .area {
        margin: 2em 0;

        .title {
            font-weight: bold;
        }

        input {
            text-align: center;
        }
    }

    .user-exists-alert {
        margin: 1em;
        color: map-get($theme-colors, danger);
    }

    
    @media all and (max-width: $screen-width-smallest) {
       font-size: 0.9em;
    }

    @media all and (max-height: $screen-height-smallest) {
        font-size: 0.9em;
    }
}