@import '../../../variables';

.Results {
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 1em;
    padding-top: 5em;

    font-size: 1.2em;

    .user-name {
        margin-bottom: 0.75em;
    }

    .result-summary {
        font-size: 1.5em;
        color: map-get($theme-colors, primary);
        margin: 0.75em 0;
    }

    .new-game-button {
        position: absolute;
        top: 0.5em;
        right: 0.5em;
    }
}