@import '../../../variables';

.ResultsDetails {
   
    margin: 1em;
    display: inline-block;
    text-align: center;

    list-style: none;
    padding: 0;

    .answer {
        margin: 1.25em 0;        

        &.is-bad {
            color: map-get($theme-colors, danger);
        }
    }

    @media all and (max-width: $screen-width-smallest) {
        margin-top: 0;
        .answer {
            font-size: 0.9em;
            margin: 0.75em 0;    
        }
    }

    @media all and (max-height: $screen-height-smallest) {
        margin-top: 0;
        .answer {
            font-size: 0.9em;
            margin: 0.75em 0;    
        }
    }
}