@import '../../../variables';

.ResultsDetails {
   
    margin: 1em;
    display: inline-block;
    text-align: center;

    list-style: none;
    padding: 0;

    .answer {
        margin: 1.25em 0;        

        &.is-bad {
            color: map-get($theme-colors, danger);
        }
    }
}