@import '../../../variables';

.PlayQuestionButton {

    display: inline-block;
    vertical-align: bottom;
    position: relative;

    .feedback-image {
        display: none;
        position: absolute;
        top: 100%;
        height: 100%;
        width: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    &.is-selected.is-correct .feedback-image.feedback-image-good {
        display: block;
    }
    &.is-selected.is-incorrect .feedback-image.feedback-image-bad {
        display: block;
    }

    &.should-vibrate button {
        animation: buttonshake 0.5s infinite;
    }

    &.should-pulse button {
        animation: buttonpulse 0.5s infinite;
    }

}

@keyframes buttonshake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes buttonpulse {
	0% { transform: scale(1); }
	50% { transform: scale(1.1); }
	100% { transform: scale(1); }
}
