@import '../../../variables';

.PlayHeader {
    padding: 0.5em 1em;
    min-height: 3em;

    display: flex;
    flex-direction: row;

    .username {
        flex: 1;
    }
    .statistics {
        flex: 2;
    }

    .pbar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .progress {
            flex: 1;
            border: 1px solid map-get($theme-colors, primary);
            background-color: transparent;
        }
    }

    .partialcount {
        text-align: right;
        text-transform: uppercase;
        .name, .value {
            display: inline-block;
        }
    }

    .pbar .number, .partialcount .value {
        width: 2em;
        text-align: center;
    }

    @media all and (max-width: $screen-width-smallest) {
        flex-direction: column;
        .username {
            text-align: center;
            margin-bottom: 0.5em;
        }
    }

    @media all and (max-height: $screen-height-smallest) {
        font-size: 0.9em;
    }

}