@import '../../../variables';

.PlayHeader {
    padding: 0.5em 1em;
    min-height: 3em;

    display: flex;
    flex-direction: row;

    &>div {
        flex: 1;
    }

    .pbar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .number {
            padding: 0 0.5em;
        }
        .progress {
            flex: 1;
            border: 1px solid map-get($theme-colors, primary);
            background-color: transparent;
        }
    }

    .partialcount {
        text-align: right;
        text-transform: uppercase;
    }
}